<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-9">

    <ul class="nav nav-tabs">
      <% @user.groups.each do |group| %>
        <li role="presentation" ><a href= <%= "##{group.name}"%> data-toggle="tab"><%= group.name %></a></li>
      <% end %>
        <li role="presentation" ><a href="#ungrouped" data-toggle="tab">ungrouped</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <% @user.groups.each do |group| %>
        <div class="tab-pane active" id=<%= group.name %> >
          <h3><%= group.name %></h3>
          <p>{
            <% group.tags.each do |tag| %>
              <%= tag.tag %> |
            <% end %>
          }</p>

          <% filted_posts = group_feed_filter(@feed_items, group) %>
          <ul class="list-group">
            <% if filted_posts.any? %>
              <% filted_posts.each do |post| %>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <%= image_tag("64x64.png", class:"media-object") %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">@<%= post.user.name %>
                      <% post.tags.each do |tag| %>
                        <span class="label label-success"> <%= tag.tag %> </span>
                      <% end %>
                    </h4>
                    <%= post.content %>

                  </div>
                </div>
              </li>
              <% end %>
            <% end %>
          </ul>


        </div>
      <% end %>

      <div class="tab-pane active" id="ungrouped" >
        <ul class="list-group">
          <% if @feed_items.any? %>
            <% @feed_items.each do |post| %>
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <%= image_tag("64x64.png", class:"media-object") %>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">@<%= post.user.name %>
                    <% post.tags.each do |tag| %>
                      <span class="label label-success"> <%= tag.tag %> </span>
                    <% end %>
                  </h4>
                  <%= post.content %>

                </div>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>

    </div>


  </div>
  <div class="col-lg-3">
    <div class="list-group">

      <!-- tag groups lists-->
      <% @user.groups.each do |group| %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%= group.name %></h4>
          <p class="list-group-item-text">
            {
            <% group.tags.each do |tag| %>
              <%= tag.tag %> |
            <% end %>
            }
          </p>
        </a>
      <% end %>

      <div class="list-group-item">+ add new group</div>
      <!-- all tags -->
      <% @user.tags.each do |tag| %>
      <div class="list-group-item">
        <%= tag.tag %>
        <%= tag.posts.where("user_id = ?",@user.id).count %></div>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->
