<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-9">
    <ul class="list-group">
      <% @user.posts.each do |post| %>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag("64x64.png", class:"media-object") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">@<%= post.user.name %></h4>
            <%= post.content %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-3">
    <div class="list-group">
      <div class="list-group-item">
        <%= image_tag("64x64.png", class:"media-object") %>
        @<%= @user.name %>
        <h4>
      </div>

      <!-- tag groups lists-->
      <% @user.groups.each do |group| %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%= group.name %></h4>
          <p class="list-group-item-text">
            {
            <% group.tags.each do |tag| %>
              <%= tag.tag %> |
            <% end %>
            }
          </p>
        </a>
      <% end %>

      <!-- all tags -->
      <% @user.tags.each do |tag| %>
      <div class="list-group-item">  <%= render partial: 'subscribe_form', locals:{tag: tag} %> </div>
      <% end %>

    </div>

  </div><!--/span-->
</div><!--/row-->
